h1{text-align:center;color:rgb(90, 3, 161)}
table tr th{border:1px solid blue; padding:10px;text-align: center;background: #e0dfdf8c;}
table tr td{border:1px solid blue; padding:10px;text-align: center;}
.floating-btn{ position: fixed; bottom: 50px; right: 50px;}
.floating-btn i{ cursor: pointer;}